.App {
  text-align: center;
}

.jumbotron {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.jumbotron .btn {
  margin-bottom: 0 !important;
}

.jumbotron h1 {
  font-size: 2em;
}

.jumbotron input {
  font-size: 1.5em;
  font-weight: bold;
}

label {
  font-weight: bold;
}

label small {
  display: none;
}

input {
  text-align: center;
  padding: 0 !important;
}
